.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin-top: 15px;
  align-self: center;
}
.link-gap {
  margin-right: 10px;
}
.link-gap:hover {
  cursor: pointer;
}
